<!doctype html>

<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Profile</title>
  </head>

  <body>

    <p>Username: <%= @username %></p>
    <p>Registered since: <%= @registration_date %></p>

  </body>

</html>