<form action="/register" method="post">

  <p>Username:</p>
  <input type="text" name="<%= @key_register_username %>" placeholder="Newbie"><br>

  <p>Password:</p>
  <input type="text" name="<%= @key_register_password %>" placeholder="Doe"><br><br>

  <input type="submit" value="Register">
</form> 

<br>

<a href="/login">Login</a>